* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  min-height: 100vh;
  padding: 231px 85px 131px 85px;
}
@media screen and (max-width: 1024px) {
  .container {
    padding: 139px 48px 118px 48px;
  }
}

h1 {
  color: #000;
  font-family: Roboto Slab;
  font-size: 55px;
  font-style: normal;
  font-weight: 700;
  line-height: 101.385%;
  margin-bottom: 55px;
}
@media screen and (max-width: 1024px) {
  h1 {
    font-size: 32px;
  }
}

.box-container {
  display: flex;
  flex-wrap: wrap;
}
.box-container .box-card {
  margin-right: 37px;
  margin-bottom: 23px;
  width: 399px;
  height: 328px;
  border-radius: 30px;
  background: #fff;
  box-shadow: 1px 1px 15px 0px rgba(0, 0, 0, 0.25);
}
@media screen and (max-width: 1024px) {
  .box-container .box-card {
    margin-right: 48px;
    margin-bottom: 13px;
    width: 231.088px;
    height: 189.967px;
    border-radius: 17.375px;
  }
}
.box-container .box-card img {
  width: 100%;
  height: 160px;
}
@media screen and (max-width: 1024px) {
  .box-container .box-card img {
    height: 92.667px;
  }
}
.box-container .box-card h2 {
  margin-top: 10px;
  margin-left: 15px;
  color: #000;
  font-family: Roboto;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 130%; /* 39px */
}
@media screen and (max-width: 1024px) {
  .box-container .box-card h2 {
    margin-top: 6px;
    font-size: 17px;
    margin-left: 8px;
  }
}
.box-container .box-card p {
  margin-top: 10px;
  margin-left: 15px;
  color: #000;
  font-family: Roboto;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%; /* 32.5px */
}
@media screen and (max-width: 1024px) {
  .box-container .box-card p {
    margin-top: 10px;
    margin-left: 1px;
    font-size: 14px;
  }
}